@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

$primary-text-color: #000;
$secondary-text-color: #A1A1A4;
$theme-color: #8DC63F;

* {
  box-sizing: border-box;
}

#nav__icons {
  @media screen and (max-width: 600px) {
    i {
      opacity: 0.4;
      font-size: 20px;
    }
    li {
      width: 30px;
    }
  }

}

#user-board,
#user-my-board,
#user-post,
#user-bookmark {
  ul {
    text-align: center;
    li {
      text-align: left;
    }
  }
}

#user-my-page {

  ul {
    text-align: center;
  }

  .grid {

    .survey-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 400px;
      width: 270px;
      margin: 10px;
      @media screen and (max-width: 600px) {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 400px;
        width: 270px;
        margin: 10px;
      }
    }
  }

}

body {
  background: #f5f5f5;
  //max-width: 1300px;
  margin: 0 auto;
  padding: 10px;

  font-family: 'Lato', sans-serif;
  text-shadow: 0 0 1px rgba(255,255,255,0.004);
  font-size: 100%;
  font-weight: 400;
}

.toggler {
  color: $secondary-text-color;
  font-size: 1.25em;
  margin-left: 8px;
  text-align: center;
  cursor: pointer;

  &.active {
    color: $primary-text-color;
  }
}

.surveys {
  list-style: none;
  margin: 0;
  padding: 0;
}

%card-style {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;

  background: white;
  box-shadow: 0 2px 1px rgba(170,170,170,0.25);
}

.survey-item {
  @extend %card-style;
}

.survey-name {
  font-weight: 400;
}
.survey-end-date-wrapper {
  margin-top: 10px;
}

.list {
  .survey-item {
    position: relative;
    padding: 0;

    font-size: 14px;
    line-height: 40px;

    .pull-right {
      position: absolute;
      right: 0;
      top: 0;
    }

    @media screen and (max-width: 800px) {
      .stage:not(.active) {
        display: none;
      }
    }

    @media screen and (max-width: 700px) {
      .survey-progress-bg {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      .pull-right {
        position: static;
        line-height: 20px;
        padding-bottom: 10px;
      }
    }
  }

  .survey-country,
  .survey-progress,
  .survey-completes,
  .survey-end-date {
    color: $secondary-text-color;
  }

  .survey-country,
  .survey-completes,
  .survey-end-date,
  .survey-name,
  .survey-stage {
    margin: 0 10px;
  }

  .survey-country {
    margin-right: 0;
  }

  .survey-end-date,
  .survey-completes,
  .survey-country,
  .survey-name {
    vertical-align: middle;
  }

  .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;

    overflow: hidden;
  }
}

.survey-stage .stage {
  display: inline-block;
  vertical-align: middle;

  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;

  background: #f2f2f2;
  text-indent: -9999px;
  color: transparent;
  line-height: 16px;

  &.active {
    background: $secondary-text-color;
  }
}

.list {
  .list-only {
    display: auto;
  }
  .grid-only {
    display: none !important;
  }
}

.grid {
  .grid-only {
    display: auto;
  }
  .list-only {
    display: none !important;
  }
}

.grid {

  margin-top: 90px;

  .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 250px;
    margin: 10px;

    @media screen and (max-width: 600px) {
      display: block;
      width: auto;
      height: 250px;
      margin: 10px auto;
    }
  }

  .survey-name {
    display: block;
    max-width: 80%;

    font-size: 16px;
    line-height: 20px;
  }

  .survey-country {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .survey-country,
  .survey-end-date {
    color: $secondary-text-color;
  }

  .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
  }

  .survey-progress-bg {
    width: 40%;
    display: block;

    @media screen and (max-width: 200px) {
      display: none;
    }
  }

  .survey-progress-labels {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 40px;

    @media screen and (max-width: 200px) {
      right: auto;
      left: 10px;
    }
  }

  .survey-progress-label {
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
  }

  .survey-completes {
    line-height: 21px;
    font-size: 13px;
    vertical-align: middle;
  }

  .survey-stage {
    position: absolute;
    top: 20px;
    right: 20px;

    .stage {
      display: none;
    }

    .active {
      display: block;
    }
  }

  .survey-end-date {
    font-size: 12px;
    line-height: 20px;
  }
}

.survey-progress-label {
  vertical-align: middle;
  margin: 0 10px;
  color: $theme-color;
}

.survey-progress-bg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: #eee;
}

.survey-progress-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  background: $theme-color;
}

.button__menu__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button__wrapper {
  width: 85%;
  text-align: center;
  position: absolute;
  bottom: 5%;
}

.basic__button {
  background-color: #8DC63F;
  box-shadow: 0 5px 0 0 #6f9e63;
}

.cancel__button {
  background-color: #e77471;
  box-shadow: 0 5px 0 0 #f75d59;
}

.basic__button,
.cancel__button {

  border-style: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 5px;

  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
  }

}
.user_add_post__title__input {

  input {
    width: 100%;
    border: none;
    background-color: transparent;
  }

}

.user__post__content {
  padding: 0;
  width: 100%;
  //text-align: left;

  .textArea-resize {
    border: transparent;
    background-color: transparent;
    padding: 0;
    width: 210px;
    height: 150px;
    margin: 0;

    @media screen and (max-width: 600px) {
      border: transparent;
      background-color: transparent;
      padding: 0;
      width: 210px;
      height: 110px;
      margin: 0;
    }

  }

}

#user__board__content {
  overflow-y: auto;
  height: 135px;

  @media screen and (max-width: 600px) {
    overflow-y: auto;
    height: 85px;
  }

}

#user__bookmark__content {
  overflow-y: auto;
  height: 170px;

  @media screen and (max-width: 600px) {
    overflow-y: auto;
    height: 120px;
  }

}

.justify__right {
  display: flex;
  justify-content: flex-end;

}

// my page
#user-my-page {
  .title {
    text-align: center;
    color: #2c3e50;
  }

  /* CONTAINERS */

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .twelve {
    width: 100%;
  }

  .eleven {
    width: 91.53%;
  }

  .ten {
    width: 83.06%;
  }

  .nine {
    width: 74.6%;
  }

  .eight {
    width: 66.13%;
  }

  .seven {
    width: 57.66%;
  }

  .six {
    width: 49.2%;
  }

  .five {
    width: 40.73%;
  }

  .four {
    width: 32.26%;
  }

  .three {
    width: 23.8%;
  }

  .two {
    width: 15.33%;
  }

  .one {
    width: 6.866%;
  }

  /* COLUMNS */

  .col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;

    &:first-of-type {
      margin-left: 0;
    }
  }

  /* CLEARFIX */

  .cf {
    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    *zoom: 1;
  }

  /* PROFILES */

  .card {
    width: 300px;
    height: 390px;
    background-color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
  }

  /* CARD ! */

  #card1 {
    text-align: center;
    color: #2c3e50;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .image-wrapper {
      width: 100px;
      height: 100px;
      margin: 10px auto;
    }

    .info .four {
      text-align: center;
      border-right: 1px solid #2c3e50;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:last-of-type {
        border-right: none;
      }

      .number {
        display: block;
        font-size: 20px;
        padding: 3px 0;
        font-weight: 700;
      }
    }

    .options {
      margin-top: 30px;
      text-align: left;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: #8DC63F;
          //border-radius: 100%;
          margin: 0 10px 0 10px;
          vertical-align: middle;
          color: #fff;
          line-height: 30px;
          text-align: center;
        }

        li {
          margin: 12px 0;
        }
      }
    }
  }
}

#user-login {

  .submit__btn__wrapper {
    display: flex;
    justify-content: center;
  }

  .btn__horizontal__wrapper {

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 5% 5%;

  }

  /* Form Layout */

  .form-wrapper {
    background: #fafafa;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 90%;

    .basic__button {
      min-width: 120px;
      width: 70%;
      margin-top: 20px;
    }

  }

  h1 {
    text-align: center;
    padding: 15px 0;
  }

  form {
    padding: 0 1.5em;
  }

  .form-item {
    margin-bottom: 0.75em;
    width: 100%;

    input {
      background: #fafafa;
      border: none;
      border-bottom: 2px solid #e9e9e9;
      color: #666;
      font-size: 1em;
      height: 20px;
      transition: border-color 0.3s;
      width: 100%;

      &:focus {
        border-bottom: 2px solid #c0c0c0;
        outline: none;
      }
    }
  }

  .button-panel {
    margin: 2em 0 0;
    width: 100%;

    .button {
      background: #f16272;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 50px;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      width: 100%;
    }
  }

  .form-footer {
    font-size: 1em;
    padding: 1em 0;
    text-align: center;

    a {
      color: #8c8c8c;
      text-decoration: none;
      transition: border-color 0.3s;

    }
  }
}

